#
##### requirements.txt #####
#
##### Requirements with Version Specifiers #####
pytest==3.6 # pytest-cov works only with pytest>=3.6 on Travis CI

##### Requirements without Version Specifiers #####
pytest-cov
PyYAML
matplotlib
#
